/ExceptionTA.idl
/ExceptionTAE.idl
/ExceptionTA_conn.cpp
/ExceptionTA_conn.h
/ExceptionTE.idl
/ExceptionT_conn_export.h
/ExceptionT_exec_export.h
/ExceptionT_lem_stub_export.h
/ExceptionT_skel_export.h
/ExceptionT_stub_export.h
/ExceptionT_svnt_export.h
