/CancelledExceptionC.cpp
/CancelledExceptionC.h
/CancelledExceptionC.inl
/CancelledExceptionS.cpp
/CancelledExceptionS.h
/CustomExceptionC.cpp
/CustomExceptionC.h
/CustomExceptionC.inl
/CustomExceptionS.cpp
/CustomExceptionS.h
/FooExceptionC.cpp
/FooExceptionC.h
/FooExceptionC.inl
/FooExceptionS.cpp
/FooExceptionS.h
/TestAppExceptionC.cpp
/TestAppExceptionC.h
/TestAppExceptionC.inl
/TestAppExceptionS.cpp
/TestAppExceptionS.h
