*.vcxproj*
*.tlog
*.log
*.[i]obj
*.obj*
*.ilk
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ipdb
*.opensdf
*.sdf
*.sln
*.suo
*S_T.cpp
*S_T.h
*S_T.inl
ipch/
Debug/
Release/
*.bmak

.depend.*
GNUmakefile*
*.ior
.obj/
.shobj/
lib*.a
lib*.so*
lib*.dylib
*~
build/

/ACE/ace/config.h
/ACE/bin/MakeProjectCreator/config/default.features
/ACE/include/makeinclude/platform_macros.GNU
/setenv.cmd
/setenv.sh
/build
/ACE/build
/TAO/build

*.o
*.res
*.opendb
*.VC.db*
*.tds
*.*codeanalysis*
