*.vcxproj*
*.tlog
*.log
*.obj
*.ilk
*.exe
*.dll
*.lib
*.exp
*.[ip]db
*.opensdf
*.sdf
*.sln
*.suo

.depend.*
GNUmakefile*
*.ior
.obj/
.shobj/
lib*.a
lib*.so*
lib*.dylib
*~
ipch/

/ACE/bin/MakeProjectCreator/config/default.features
/setenv.cmd
/setenv.sh
/build
