/ACE/ace/Svc_Conf_y.cpp linguist-generated=true
/ACE/ace/Svc_Conf_Token_Table.h linguist-generated=true
/TAO/TAO_IDL/fe/fe_lookup.cpp linguist-generated=true
/TAO/TAO_IDL/fe/idl.yy.cpp linguist-generated=true
/TAO/TAO_IDL/fe/idl.tab.cpp linguist-generated=true
/TAO/TAO_IDL/fe/idl.tab.hpp linguist-generated=true
/TAO/orbsvcs/orbsvcs/Trader/Constraint_y.cpp linguist-generated=true
/TAO/orbsvcs/orbsvcs/Trader/Constraint_Tokens.h linguist-generated=true
