.vs/
Static_Release/
Static_Debug/
*vcxproj*
*.gpj
*.int
*.sln
*.cmd
*.lib
*.idb
*.pdb
!*-runmpc.cmd
*.ior
.custom_build_rule
.empty_html_file
build/
lib/ACEd*
bin/*exe*
/TAO/tests/Hello/TestA.cpp
/TAO/tests/Hello/TestC.cpp
/TAO/tests/Hello/TestC.h
/TAO/tests/Hello/TestC.inl
/TAO/tests/Hello/TestS_T.cpp
/TAO/tests/Hello/TestS_T.h
/TAO/tests/Hello/TestS_T.inl
/TAO/tests/Hello/TestS.cpp
/TAO/tests/Hello/TestS.h
/TAO/tests/Hello/TestS.inl
