<?xml version='1.0' encoding='windows-1252' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <?define BMW_ROOT = $(env.CUTS_ROOT)\bin\BMW ?>
  <Product Name="CUTS Benchmark Manager Web Utility" Id="1D209D0C-13C5-4DEC-A2C1-08A4A22FDC5D"
    UpgradeCode="823EE6B0-1BE2-4706-B5F6-58962744BDD3" Language="1033" Codepage="1252" Version="0.2"
    Manufacturer="DOC Group, ISIS, Vanderbilt University">

    <Package Id='504DB389-68E1-4d29-B519-9B4499CAF048' Keywords='Installer'
             Description='CUTS Benchmark Manager Web Utility Installer'
             Manufacturer='DOC Group, ISIS, Vanderbilt University' InstallerVersion='100' 
             Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <!-- properties -->
    <Property Id="WIXUI_INSTALLDIR" Value="C:\Inetpub\wwwroot\CUTS" />
    
    <Property Id="IIS_INSTALLED">
      <RegistrySearch Id="IISRegSearch" Root="HKLM" Type="raw"
                      Key="SYSTEM\CurrentControlSet\Services\W3SVC" Name="ImagePath" />
    </Property>
    
    <Property Id="MYSQL_CONNECTOR_INSTALLED">
      <RegistrySearch Id="MySQLConnectorVersion" Root="HKLM" Type="raw"
                      Key="SOFTWARE\MySQL AB\MySQL Connector/Net 1.0.7" Name="Version" />
    </Property>

    <Property Id="DOTNET_2_0_INSTALLED">
      <RegistrySearch Id="DotNet_v20" Root="HKLM" Type="raw"
                      Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="Install" />
    </Property>

    <!-- install conditions -->
    <Condition Message='The Benchmark Manager Web Utility requires Microsoft.NET Framework 2.0'>DOTNET_2_0_INSTALLED</Condition>
    <Condition Message='The Benchmark Manager Web Utility requires Microsoft Internet Information Services (IIS)'>IIS_INSTALLED</Condition>
    <Condition Message='The Benchmark Manager Web Utility requires MySQL.NET Connector 1.0.7'>MYSQL_CONNECTOR_INSTALLED</Condition>

    <Media Id="1" Cabinet="BMW.cab" EmbedCab="yes" />

    <Directory Id='WIXUI_INSTALLDIR' Name='SourceDir'>
      <!-- IIS configuration -->
      <Component Id="BMWWebSite" Guid="B813A159-5BD3-4595-9F5B-09AA5CA63FCF">
        <WebVirtualDir Id="CUTSWebVirtualDir" Alias="CUTS" Directory="WIXUI_INSTALLDIR" WebSite="DefaultWebSite">
          <WebApplication Id="CUTSWebApplication" Name="CUTS" AllowSessions="yes" Isolation="medium"
            DefaultScript="JScript" ClientDebugging="no" ServerDebugging="no" />
        </WebVirtualDir>
      </Component>

      <!-- http://localhost/CUTS -->
      <Component Id="BMWServerFiles" Guid="0E082EE0-3EB7-4BEA-BAFA-721DB5875DA6">
        <!-- master pages -->
        <File Id="BMW.master" Name="BMW.MAS" LongName="BMW.master" Source="$(var.BMW_ROOT)\BMW.master"
          DiskId="1" />

        <File Id="Component_Instances.aspx" Name="INSTANCE.ASP" LongName="Component_Instances.aspx"
              Source="$(var.BMW_ROOT)\Component_Instances.aspx" DiskId="1" />
        <File Id="Critical_Path.aspx" Name="PATH.ASP" LongName="Critical_Path.aspx"
              Source="$(var.BMW_ROOT)\Critical_Path.aspx" DiskId="1" />
        <File Id="Critical_Path_Timeline.aspx" Name="PATHTIME.ASP" LongName="Critical_Path_Timeline.aspx"
              Source="$(var.BMW_ROOT)\Critical_Path_Timeline.aspx" DiskId="1" />
        <File Id="default.aspx" Name="DEFAULT.ASP" LongName="default.aspx"
              Source="$(var.BMW_ROOT)\default.aspx" DiskId="1" />
        <File Id="Execution_Times.aspx" Name="EXECUTE.ASP" LongName="Execution_Times.aspx"
              Source="$(var.BMW_ROOT)\Execution_Times.aspx" DiskId="1" />
        <File Id="Hosts.aspx" Name="HOSTS.ASP" LongName="Hosts.aspx"
              Source="$(var.BMW_ROOT)\Hosts.aspx" DiskId="1" />

        <!-- user-defined controls -->
        <File Id="Component_Metrics.ascx" Name="METRICS.ASC" LongName="Component_Metrics.ascx"
              Source="$(var.BMW_ROOT)\Component_Metrics.ascx" DiskId="1" />
        <File Id="Node_Details.ascx" Name="NODES.ASC" LongName="Node_Details.ascx"
              Source="$(var.BMW_ROOT)\Node_Details.ascx"
          DiskId="1" />
        <File Id="Sender_Metrics.ascx" Name="SENDER.ASC" LongName="Sender_Metrics.ascx"
              Source="$(var.BMW_ROOT)\Sender_Metrics.ascx" DiskId="1" />

        <!-- style sheets -->
        <File Id="Style.css" Name="STYLE.CSS" LongName="Style.css"
              Source="$(var.BMW_ROOT)\Style.css" DiskId="1" />

        <!-- web services -->
        <File Id="Service.asmx" Name="SERVICE.ASM" LongName="Service.asmx"
              Source="$(var.BMW_ROOT)\Service.asmx" DiskId="1" />

        <!-- config files -->
        <File Id="PrecompiledApp.config" Name="PRECOM.CON" LongName="PrecompiledApp.config"
              Source="$(var.BMW_ROOT)\PrecompiledApp.config" DiskId="1" />
        <File Id="Web.config" Name="WEB.CON" LongName="Web.config"
              Source="$(var.BMW_ROOT)\Web.config" DiskId="1" />
      </Component>

      <!-- http://localhost/CUTS/bin -->
      <Directory Id="bin" Name="bin">
        <Component Id="BMWBinFiles" Guid="9A3DE607-7FC8-4192-84CE-EF7A8DAAED14">
          <File Id="App_Code.dll" Name="APPCODE.DLL" LongName="App_Code.dll"
                Source="$(var.BMW_ROOT)\bin\App_Code.dll" DiskId="1" />

          <File Id="App_Web_1uxtpalu.dll" Name="APPWEB1.DLL" LongName="App_Web_0bvqtlao.dll"
                Source="$(var.BMW_ROOT)\bin\App_Web_0bvqtlao.dll" DiskId="1" />

          <File Id="App_Web_65jeibsk.dll" Name="APPWEB2.DLL" LongName="App_Web_vhavf_5n.dll"
                Source="$(var.BMW_ROOT)\bin\App_Web_vhavf_5n.dll" DiskId="1" />

          <File Id="CUTS_Database_Utility.dll" Name="CUTSUTIL.DLL" LongName="CUTS_Database_Utility.dll"
                Source="$(var.BMW_ROOT)\bin\CUTS_Database_Utility.dll" DiskId="1" />

          <File Id="IIOPChannel.dll" Name="IIOP.DLL" LongName="IIOPChannel.dll"
                Source="$(var.BMW_ROOT)\bin\IIOPChannel.dll" DiskId="1" />

          <File Id="Node_Daemon.NET.dll" Name="CUTSNODE.DLL" LongName="Node_Daemon.NET.dll"
                Source="$(var.BMW_ROOT)\bin\Node_Daemon.NET.dll" DiskId="1" />

          <File Id="WebChart.dll" Name="WEBCHART.DLL" LongName="WebChart.dll"
                Source="$(var.BMW_ROOT)\bin\WebChart.dll" DiskId="1" />
        </Component>
      </Directory>

      <!-- http://localhost/CUTS/images -->
      <Directory Id="images" Name="images">
        <Component Id="BMWImageFiles" Guid="9A3DE607-7FC8-4192-84CE-EF7A8DAAED14">
          <File Id="active.gif" Name="ACTIVE.GIF" LongName="active.gif"
                Source="$(var.BMW_ROOT)\images\active.gif" DiskId="1" />

          <File Id="cancel.gif" Name="CANCEL.GIF" LongName="cancel.gif"
                Source="$(var.BMW_ROOT)\images\cancel.gif" DiskId="1" />

          <File Id="delete.gif" Name="DELETE.GIF" LongName="delete.gif"
                Source="$(var.BMW_ROOT)\images\delete.gif" DiskId="1" />

          <File Id="edit.gif" Name="EDIT.GIF" LongName="edit.gif"
                Source="$(var.BMW_ROOT)\images\edit.gif" DiskId="1" />

          <File Id="graph.gif" Name="GRAPH.GIF" LongName="graph.gif"
                Source="$(var.BMW_ROOT)\images\graph.gif" DiskId="1" />

          <File Id="inactive.gif" Name="INACTIVE.GIF" LongName="inactive.gif"
                Source="$(var.BMW_ROOT)\images\inactive.gif" DiskId="1" />

          <File Id="minus.gif" Name="MINUS.GIF" LongName="minus.gif"
                Source="$(var.BMW_ROOT)\images\minus.gif" DiskId="1" />

          <File Id="ok.gif" Name="OK.GIF" LongName="ok.gif"
                Source="$(var.BMW_ROOT)\images\ok.gif" DiskId="1" />

          <File Id="plus.gif" Name="PLUS.GIF" LongName="plus.gif"
                Source="$(var.BMW_ROOT)\images\plus.gif" DiskId="1" />

          <File Id="table.gif" Name="TABLE.GIF" LongName="table.gif"
                Source="$(var.BMW_ROOT)\images\table.gif" DiskId="1" />

          <File Id="logo.jpg" Name="LOGO.JPG" LongName="logo.jpg"
                Source="$(var.BMW_ROOT)\images\logo.jpg" DiskId="1" />
        </Component>
      </Directory>
    </Directory>

    <!-- BMW website -->
    <WebSite Id="DefaultWebSite" Description="Default Web Site">
      <WebAddress Id="AllUnassigned" Port="80" />
    </WebSite>

    <!-- product features -->
    <Feature Id="MainBMW" Title="Benchmark Manager Web Utility" Display="hidden" 
             Description="Installs the BMW web application" Level="1">
      <ComponentRef Id="BMWWebSite" />
      <ComponentRef Id="BMWServerFiles" />
      <ComponentRef Id="BMWBinFiles" />
      <ComponentRef Id="BMWImageFiles" />
    </Feature>

    <!-- user interface -->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
