/abstract_parentC.cpp
/abstract_parentC.h
/abstract_parentC.inl
/abstract_parentS.cpp
/abstract_parentS.h
/client
/local_childC.cpp
/local_childC.h
/local_childC.inl
/local_childS.cpp
/local_childS.h
