/Hello_Base.cxx
/Hello_Base.h
/Hello_BaseC.cpp
/Hello_BaseC.h
/Hello_BaseC.inl
/Hello_BasePlugin.cxx
/Hello_BasePlugin.h
/Hello_BaseS.h
/Hello_BaseSupport.cxx
/Hello_BaseSupport.h
/Hello_Base_stub_export.h
