pre { 
    BORDER-RIGHT: gray 1pt solid; 
    PADDING-RIGHT: 2pt; 
    BORDER-TOP: gray 1pt solid; 
    DISPLAY: block; 
    PADDING-LEFT: 2pt; 
    PADDING-BOTTOM: 2pt; 
    MARGIN-LEFT: 32pt; 
    BORDER-LEFT: gray 1pt solid; 
    MARGIN-RIGHT: 32pt; 
    PADDING-TOP: 2pt; 
    BORDER-BOTTOM: gray 1pt solid; 
    FONT-FAMILY: "Courier New", Courier, mono; background-color: #191970; 
    font-size: small
}

.keyword { font-weight: bold; color: #afeeee}
.identifier { color: #98fb98 }
.comment { color: #add8e6}
.special { color: #bebebe}
.preprocessor {  color: #7fffd4}
.string {  color: #87cefa}
.number { color: #bebebe}
.literal {  color: #FF0000}
/* $Id$ */
