// $Id$

// @feature sqlite3
//
// Enable this feature to build the SQLite3 backend.

sqlite3=0

// @feature unixodbc
//
// Enable this feature to build the UnixODBC backend. This should
// be set to 0 when building on Windows platforms.

unixodbc=0

// @feature iodbc
//
// Enable this feature to build the iODBC backend. This should be
// set to 0 when building on Windows platforms.

iodbc=0

