 #***************************************************************/
 #* initref.cfg                                                 */
 #***************************************************************/
 # This file contains information for resolving initial references. 
 # An entry for the Naming Service is required; others are optional.
 #
 # The ORB will use this file to locate the NameService which is a server
 # which supports the CosNaming_NamingContext interface. The current working
 # directory will be checked for the existence of this file. If it is not
 # found it will be looked for in your $HOME directory.  This will allow
 # concurrent users to execute a unique NameService, thereby allowing for
 # concurrent development on the same system.
 #
 #***************************************************************/
 #
 # Identifier    Host Name  ASE Name   Port Number     Interface Name

   NameService    polka NAMING_S    10000      CosNaming_NamingContext
