// -*- MPC -*-
// $Id$

project(StaticDAnCEApp): ciao_component_dnc, iortable {
  exename   = StaticDAnCEApp
  requires += exceptions
  includes += ../NodeApplicationManager ../NodeManager
  libs     += NodeManager NodeManager_stub NodeApplicationManager
  after    += NodeManager NodeManager_stub NodeApplicationManager

  libs     += Hello_Base_DnC_stub
  libs     += Hello_Base_DnC_svnt
  libs     += Receiver_DnC_stub
  libs     += Receiver_DnC_svnt
  libs     += Receiver_DnC_exec
  libs     += Sender_DnC_stub
  libs     += Sender_DnC_svnt
  libs     += Sender_DnC_exec

  Source_Files {
    StaticDAnCEApp.cpp
  }
}

