/Shapes_ConnectorE.idl
/Shapes_Connector_conn.cpp
/Shapes_Connector_conn.h
/Shapes_Connector_conn_export.h
/Shapes_Connector_lem_stub_export.h
/Shapes_Connector_stub_export.h
/Shapes_Connector_svnt_export.h
