#
# $Id$
#
# This is the default configuration file for run_spectrum.pl.
# Configuration options given in this file will be passed to
# SOCK_STREAM_clt or SOCK_SEQPACK_clt.
#
# Note that the configuration options are defined as "the first
# double-quote string that is not to the right of a pound sign."
# (Double-quotes and pound signs cannot be escaped).

"-c 1000"
