/client
/idl_1C.cpp
/idl_1C.h
/idl_1C.inl
/idl_1S.cpp
/idl_1S.h
/idl_2C.cpp
/idl_2C.h
/idl_2C.inl
/idl_2S.cpp
/idl_2S.h
/idl_3C.cpp
/idl_3C.h
/idl_3C.inl
/idl_3S.cpp
/idl_3S.h
/server
/skeleton_inheritance_skel_1_export.h
/skeleton_inheritance_skel_2_export.h
/skeleton_inheritance_skel_3_export.h
/skeleton_inheritance_stub_1_export.h
/skeleton_inheritance_stub_2_export.h
/skeleton_inheritance_stub_3_export.h
