/CIAO/tests/Minimum/Minimum_Base -
/KitchenSinkE.idl
/KitchenSink_IDL2.idl
/KitchenSink_exec.cpp
/KitchenSink_exec.h
/KitchenSink_exec_export.h
/KitchenSink_stub_export.h
/KitchenSink_svnt_export.h
/Minimum_Base_skel_export.h
/Minimum_Base_stub_export.h
