/ABC.cpp
/ABC.h
/ABC.inl
/ABS.cpp
/ABS.h
/CollocationLockup
/SimpleNamingService
/SimpleNamingServiceC.cpp
/SimpleNamingServiceC.h
/SimpleNamingServiceC.inl
/SimpleNamingServiceS.cpp
/SimpleNamingServiceS.h
