/client
/server
/valueboxC.cpp
/valueboxC.h
/valueboxC.inl
/valueboxS.cpp
/valueboxS.h
/vb_basicC.cpp
/vb_basicC.h
/vb_basicC.inl
/vb_basicS.cpp
/vb_basicS.h
/vb_structC.cpp
/vb_structC.h
/vb_structC.inl
/vb_structS.cpp
/vb_structS.h
/vb_unionC.cpp
/vb_unionC.h
/vb_unionC.inl
/vb_unionS.cpp
/vb_unionS.h
