/CoherentWrite_Test_Base.cxx
/CoherentWrite_Test_Base.h
/CoherentWrite_Test_BasePlugin.cxx
/CoherentWrite_Test_BasePlugin.h
/CoherentWrite_Test_BaseSupport.cxx
/CoherentWrite_Test_BaseSupport.h
/CoherentWrite_Test_Base_stub_export.h
/Reader_StarterE.idl
/Reader_Starter_exec_export.h
/Reader_Starter_lem_stub_export.h
/Reader_Starter_stub_export.h
/Reader_Starter_svnt_export.h
