/client
/IF_EXE_M_R_EnumsC.cpp
/IF_EXE_M_R_EnumsC.h
/IF_EXE_M_R_EnumsC.inl
/IF_EXE_M_R_EnumsS.cpp
/IF_EXE_M_R_EnumsS.h
/IF_EXE_M_R_StructsC.cpp
/IF_EXE_M_R_StructsC.h
/IF_EXE_M_R_StructsC.inl
/IF_EXE_M_R_StructsS.cpp
/IF_EXE_M_R_StructsS.h
/server
