/Default_ORTA.cpp
/Default_ORTA.h
/Default_ORTC.cpp
/Default_ORTC.h
/Default_ORTC.inl
/Default_ORTS.h
/ObjectReferenceTemplate_includeA.h
/ObjectReferenceTemplate_includeC.cpp
/ObjectReferenceTemplate_includeC.h
/ObjectReferenceTemplate_includeS.h
/ObjectReferenceTemplateA.h
/ObjectReferenceTemplateC.cpp
/ObjectReferenceTemplateC.h
/ObjectReferenceTemplateC.inl
/ObjectReferenceTemplateS.h
