/VT_Valuetype_ConnectorE.idl
/VT_Valuetype_Connector_conn.cpp
/VT_Valuetype_Connector_conn.h
/VT_Valuetype_Connector_conn_export.h
/VT_Valuetype_Connector_lem_stub_export.h
/VT_Valuetype_Connector_stub_export.h
/VT_Valuetype_Connector_svnt_export.h
