/OIT_Sender_ConnectorE.idl
/OIT_Sender_Connector_conn.cpp
/OIT_Sender_Connector_conn.h
/OIT_Sender_Connector_conn_export.h
/OIT_Sender_Connector_lem_stub_export.h
/OIT_Sender_Connector_stub_export.h
/OIT_Sender_Connector_svnt_export.h
