/EndpointPolicyA.cpp
/EndpointPolicyA.h
/EndpointPolicyC.cpp
/EndpointPolicyC.h
/EndpointPolicyS.h
/EndpointPolicyTypeA.cpp
/EndpointPolicyTypeA.h
/EndpointPolicyTypeS.h
/IIOPEndpointValueA.cpp
/IIOPEndpointValueA.h
/IIOPEndpointValueC.cpp
/IIOPEndpointValueC.h
/IIOPEndpointValueS.h
