name: fuzz

on:
  push:
  pull_request:
  schedule:
    - cron: '0 1 * * SUN'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ACE_ROOT: ${{ github.workspace }}/ACE
      TAO_ROOT: ${{ github.workspace }}/TAO

    steps:
    - name: checkout ACE/TAO
      uses: actions/checkout@v3
    - name: Run fuzz
      run: |
        perl ${env:ACE_ROOT}/bin/fuzz.pl
      shell: pwsh
