/IFR_BaseA.h
/IFR_BaseC.cpp
/IFR_BaseC.h
/IFR_BaseC.inl
/IFR_BaseS.cpp
/IFR_BaseS.h
/IFR_BaseS_T.cpp
/IFR_BaseS_T.h
/IFR_BasicA.h
/IFR_BasicC.cpp
/IFR_BasicC.h
/IFR_BasicC.inl
/IFR_BasicS.cpp
/IFR_BasicS.h
/IFR_BasicS_T.cpp
/IFR_BasicS_T.h
/ifr_client_export.h
/ifr_client_skel_export.h
/IFR_ComponentsA.h
/IFR_ComponentsC.cpp
/IFR_ComponentsC.h
/IFR_ComponentsC.inl
/IFR_ComponentsS.cpp
/IFR_ComponentsS.h
/IFR_ComponentsS_T.cpp
/IFR_ComponentsS_T.h
/IFR_ExtendedA.h
/IFR_ExtendedC.cpp
/IFR_ExtendedC.h
/IFR_ExtendedC.inl
/IFR_ExtendedS.cpp
/IFR_ExtendedS.h
/IFR_ExtendedS_T.cpp
/IFR_ExtendedS_T.h
